<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0 = not cute / 1 = cute.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>156</integer>
		</dict>
		<key>01타일.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>180</integer>
		</dict>
		<key>10부제.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>16진수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>17배.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>1998년생인 내가 태국에서는 2541년생?!.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>1로 만들기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>24.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>8진수 2진수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>161</integer>
		</dict>
		<key>??!.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>A+B -2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>184</integer>
		</dict>
		<key>ACM호텔.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>AFC 윔블던.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>158</integer>
		</dict>
		<key>Algorithm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>CASIO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>Can you add this?.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>DFS와 BFS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>165</integer>
		</dict>
		<key>Do Not Touch Anything.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
		<key>Fridge of Your Dreams.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Hello Judge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>KMP는 왜 KMP일까?.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>173</integer>
		</dict>
		<key>NFC West VS North.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>Next in line.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>No Brainer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Plane.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>R2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>ROT13.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>141</integer>
		</dict>
		<key>Sum of Odd Sequence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>TGN.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>TV 크기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>Which Alien?.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>155</integer>
		</dict>
		<key>test11.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>143</integer>
		</dict>
		<key>분수찾기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>신나는 함수 실행.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>개수 세기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>거스름돈.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>171</integer>
		</dict>
		<key>검증수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>고려대는 사랑입니다.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>골드바흐의 추측.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>공.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>공백 없는 A+B.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>과목선택.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>175</integer>
		</dict>
		<key>과자.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>괄호.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>163</integer>
		</dict>
		<key>그대로 출력하기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>164</integer>
		</dict>
		<key>그룹단어 체커.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>긴자리 계산.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>192</integer>
		</dict>
		<key>꼬마 정민.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>나는 누구인가.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>188</integer>
		</dict>
		<key>나는 요리사다.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>나는 행복합니다~.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>나부 함대 데이터.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>197</integer>
		</dict>
		<key>나이순 정렬.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>내 학점을 구해줘.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>네 번째 점.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>네 수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>농구 경기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>다리놓기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>157</integer>
		</dict>
		<key>다면체.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>다이얼.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>단어 공부.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>단어 길이 재기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>단어 뒤집기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>151</integer>
		</dict>
		<key>단어 정렬.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>단어의 갯수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>달팽이는올라가고싶다.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>대회 or 인턴.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>더하기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>166</integer>
		</dict>
		<key>덩치.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>덱.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>도미노.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>등록.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>마이크로소프트 로고.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>막대기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>168</integer>
		</dict>
		<key>문자열 반복.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>미로 탐색.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>바이러스.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>195</integer>
		</dict>
		<key>방학숙제.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>배수와 약수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>벌집.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>153</integer>
		</dict>
		<key>베르트랑 공준.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>179</integer>
		</dict>
		<key>별 찍기 - 3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>169</integer>
		</dict>
		<key>별 찍기 - 4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>193</integer>
		</dict>
		<key>별 찍기 - 9.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>177</integer>
		</dict>
		<key>부녀회장이 될테야.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>분산처리.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>분수찾기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>분해합.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>블랙잭.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>사과.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>사탕 선생 고창영.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>사파리월드.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>삼각형 외우기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>170</integer>
		</dict>
		<key>상근날드.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>상수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>198</integer>
		</dict>
		<key>새로운 시작.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>생일.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>설탕배달.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>세 수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>세금.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>162</integer>
		</dict>
		<key>세수정렬.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>소수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>소수구하기(에라토스테네스).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>소수찾기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>소음.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>소인수분해.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>소트인사이드.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>손익분기점.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>수 정렬하기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>196</integer>
		</dict>
		<key>수 찾기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>수도요금.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>수들의 합.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>수학은 체육과목 입니다.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>수학은 체육과목 입니다2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>숫자 맞추기 게임.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>숫자.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>150</integer>
		</dict>
		<key>숫자의합.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>187</integer>
		</dict>
		<key>스타워즈 로고.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>스택 수열.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>스택.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
		<key>시험 점수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>시험점수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>신나는 함수 실행.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>심부름 가는 길.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>160</integer>
		</dict>
		<key>쌍의 합.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>194</integer>
		</dict>
		<key>아스키코드.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>알파벳 개수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>알파벳 찾기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>199</integer>
		</dict>
		<key>약수 구하기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>174</integer>
		</dict>
		<key>약수구하기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>얼마?.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>엄청난 부자2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>엔드게임 스포일러.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>연세대학교.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>열 개씩 끊어 출력하기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>영수증.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>오늘 날짜.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>오늘의 날짜는?.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>오븐 시계.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>와글와글 숭고한.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>와이버스 부릉부릉.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>149</integer>
		</dict>
		<key>완전 제곱수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>186</integer>
		</dict>
		<key>요세푸스 문제 0.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>운동장 한 바퀴.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>웰컴.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>윷놀이.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>음계.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>142</integer>
		</dict>
		<key>이상한 기호.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>185</integer>
		</dict>
		<key>인공지능 시계.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>일곱 난쟁이.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>190</integer>
		</dict>
		<key>저작권.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
		<key>전자레인지.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>점수계산.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>제로.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>제리와 톰.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>조별과제를 하려는데 조장이 사라졌다.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>좌표 정렬하기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>189</integer>
		</dict>
		<key>주사위 세개.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>181</integer>
		</dict>
		<key>주사위.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>지능형 기차 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>지능형 기차.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>183</integer>
		</dict>
		<key>직각삼각형.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>직사각형에서 탈출.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>체스판 조각.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>첼시를 도와줘!.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>초콜릿 자르기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>최대공약수와 최소공배수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>최소공배수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>136</integer>
		</dict>
		<key>카드2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>카드게임.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>콜센터.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>쿠폰.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>159</integer>
		</dict>
		<key>큐 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>크냐?.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>크로아티아 알파벳.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>178</integer>
		</dict>
		<key>큰수 A+B.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>킹, 퀸, 룩, 비숍, 나이트, 폰.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>타임 카드.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>택시 기하학.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>터렛.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>테스트.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>토마토.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>트럭 주차.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>특별한 날.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>135</integer>
		</dict>
		<key>팀 나누기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>176</integer>
		</dict>
		<key>파도반 수열.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>파일 옮기기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>140</integer>
		</dict>
		<key>파티가 끝나고 난 뒤.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>팩토리얼.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>팰린드롬인지 확인하기.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>172</integer>
		</dict>
		<key>평균 점수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>191</integer>
		</dict>
		<key>플러그.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>피보나치 수 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>167</integer>
		</dict>
		<key>피보나치 수 5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>피보나치 수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>139</integer>
		</dict>
		<key>피보나치 함수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>하얀 칸.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>학점계산.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>한수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>할로윈의 사탕.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
		<key>홀수.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>182</integer>
		</dict>
		<key>홍익대학교.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>화성 수학.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>히스토그램.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3924CEA268DD98900AB5C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3EC31F927359A5300380104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
